<template>
    <div>
         <h2>Event List</h2>
        <router-link to="/new-project">Create Event</router-link>
        <ul>
            <li><router-link to="/project/1">ICG2018</router-link></li>
            <li><router-link to="/project/1">Polimer 2018</router-link></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'ClientDashboard',
}
</script>