<template>
	<div id="app">
		<div class="loading" v-if="loading"></div>
		<div class="wrapper">
			<div class="FieldColumn">
				<h1>Registration <input type="checkbox" v-model="baseModules.registration" @change="askSure('registration')" :disabled="baseModules.registration"></h1>
				<draggable v-model="columnList.registration" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.registration" :key="index" :class="{ disabledItem: itemIsDisabled('registration', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Participant Custom Form Fields</h4>
				<draggable v-model="columnList.participant_custom_form" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.participant_custom_form" :key="index" :class="{ disabledItem: itemIsDisabled('participant_custom_form', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Registration Types Custom Form Fields</h4>
				<div v-for="(registrationType, index) in columnList.registration_type_custom_form" class="registrationTypeCustomFormList">
					<h5>{{ registrationType.registration_type_title }}</h5>
					<customformfields :customFormFields="registrationType.custom_form" customFormName="registration_type_custom_form" :report="report"></customformfields>
				</div>
				<h1>Spouse Registration <input type="checkbox" v-model="baseModules.spouse_registration" @change="askSure('spouse_registration')" :disabled="baseModules.spouse_registration"></h1>
				<draggable v-model="columnList.spouse_registration" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.spouse_registration" :key="index" :class="{ disabledItem: itemIsDisabled('spouse_registration', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Spouse Custom Form Fields</h4>
				<customformfields :customFormFields="columnList.spouse_registration_custom_form" customFormName="spouse_registration_custom_form" :report="report"></customformfields>
				<h1>Workshop Reservation <input type="checkbox" v-model="baseModules.workshop" @change="askSure('workshop')" :disabled="baseModules.workshop"></h1>
				<draggable v-model="columnList.workshop" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.workshop" :key="index" :class="{ disabledItem: itemIsDisabled('workshop', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Workshop Custom Form Fields</h4>
				<customformfields :customFormFields="columnList.workshop_custom_form" customFormName="workshop_custom_form" :report="report"></customformfields>
				<h1>Merchandise <input type="checkbox" v-model="baseModules.merchandise" @change="askSure('merchandise')" :disabled="baseModules.merchandise"></h1>
				<draggable v-model="columnList.merchandise" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.merchandise" :key="index" :class="{ disabledItem: itemIsDisabled('merchandise', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Merchandise Custom Form Fields</h4>
				<customformfields :customFormFields="columnList.merchandise_custom_form" customFormName="merchandise_custom_form" :report="report"></customformfields>
				<h1>Tour <input type="checkbox" v-model="baseModules.tour" @change="askSure('tour')" :disabled="baseModules.tour"></h1>
				<draggable v-model="columnList.tour" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.tour" :key="index" :class="{ disabledItem: itemIsDisabled('tour', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Tour Custom Form Fields</h4>
				<customformfields :customFormFields="columnList.tour_custom_form" customFormName="tour_custom_form" :report="report"></customformfields>
				<h1>Hotel <input type="checkbox" v-model="baseModules.hotel" @change="askSure('hotel')" :disabled="baseModules.hotel"></h1>
				<draggable v-model="columnList.hotel" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.hotel" :key="index" :class="{ disabledItem: itemIsDisabled('hotel', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h4>Hotel Custom Form Fields</h4>
				<customformfields :customFormFields="columnList.hotel_custom_form" customFormName="hotel_custom_form" :report="report"></customformfields>
				<h1>Donation <input type="checkbox" v-model="baseModules.donation" @change="askSure('donation')" :disabled="baseModules.donation"></h1>
				<draggable v-model="columnList.donation" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.donation" :key="index" :class="{ disabledItem: itemIsDisabled('donation', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
				<h1>Payment <input type="checkbox" v-model="baseModules.payment" @change="askSure('payment')" :disabled="baseModules.payment"></h1>
				<draggable v-model="columnList.payment" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList">
						<div v-for="(item, index) in columnList.payment" :key="index" :class="{ disabledItem: itemIsDisabled('payment', item.value) }">
							<at-button>{{ item.title }}</at-button>
						</div>
				</draggable>
			</div>
			<div class="reportTableWrapper">
				<draggable v-model="report.columnList" :options="{group:'report'}" class="reportTable" @end="setTable()" @add="setTable()" @remove="setTable()">
				   <div v-for="(element, index) in report.columnList" :key="index">
						<div>
							<at-button>{{element.title}}</at-button>
							<at-button icon="icon-x" circle type="error" size="smaller" @click="removeReportItem(index)"></at-button>
						</div>
				   </div>
				</draggable>
				<ag-grid-vue 
					class="ag-theme-fresh resultTable"
					:gridOptions="gridOptions">
				</ag-grid-vue>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import draggable from 'vuedraggable';
import { AgGridVue } from 'ag-grid-vue';
import * as data from './assets/data.js';
import CustomFormFields from './components/CustomFormFields';
// import * as data from './assets/data2.js';
import reportMixin from './mixins/report';

const onTableSet = callback =>
	Vue.nextTick(() =>
	  requestAnimationFrame(() => 
		requestAnimationFrame(callback)));

function deltaIndicator(params) {
	var imageElement = document.createElement("img");
	imageElement.src = params.value;
	imageElement.width = 40;
	imageElement.height = 40;
	return imageElement;
}
function listExport(params) {
	if(typeof params.value == 'undefined'){
		return null;
	}
	let list = JSON.parse(params.value);
	if(list.length == 0){
		return null;
	}
	var result = '<ul>';
	list.filter(param => {
		result += '<li>' + param + '</li>';
	});
	result += '</ul>';
	return result;
}
function notAvailable(params) {
	return 'n/a';
}

export default {
	name: 'App',
	data () {
			return {
				loading: false,
				columnList: data.COLUMN_LIST,
				registrationList: data.REGISTRATION_LIST,
				spouseRegistrationList: data.SPOUSE_REGISTRATION_LIST,
				workshopReservationList: data.WORKSHOP_RESERVATION_LIST,
				merchandiseList: data.MERCHANDISE_LIST,
				tourReservationList: data.TOUR_RESERVATION_LIST,
				hotelReservationList: data.HOTEL_RESERVATION_LIST,
				donationList: data.DONATION_LIST,
				paymentList: data.PAYMENT_LIST,
				gridOptions: {
					rowData: [],
					columnDefs: [],
					defaultColDef: {
						menuTabs: ['filterMenuTab']
					},
					enableFilter: true,
					enableSorting: true,
					enableColResize: true,
					components: {
						deltaIndicator: deltaIndicator,
						listExport: listExport,
					},
					rowHeight: 100
				},
				report: {
					columnList: [
					],
					baseModule: 'registration'
				},
				baseModules: {
					'registration': true,
					'spouse_registration': false,
					'workshop': false,
					'merchandise': false,
					'tour': false,
					'hotel': false,
					'donation': false,
					'payment': false,
				}
			}
	},
	mixins: [reportMixin],
	computed: {
	},
	methods: {
		setTable(){
			this.loading = true;
			onTableSet(() => {
				let rowData 		= [];
				let columnDefs 		= [];
				this.report.columnList.filter(column => {
					let tempColumn = {
						headerName: column.title,
						field: column.value,
						lockPosition: true,
						width: 200
					};
					switch(column.value){
						case 'image': 
							tempColumn.cellRenderer = 'deltaIndicator';
						break;
					}
					if(this.report.baseModule == 'registration' && 
						(
							column.type == 'spouse_registration' || 
							column.type == 'spouse_registration_custom_form' || 
							column.type == 'workshop' || 
							column.type == 'workshop_custom_form' ||
							column.type == 'merchandise' || 
							column.type == 'merchandise_custom_form' ||
							column.type == 'tour' ||
							column.type == 'tour_custom_form' ||
							column.type == 'hotel' ||
							column.type == 'hotel_custom_form' || 
							(column.type == 'payment' && column.value == 'payment_services') 
						)
					){
						tempColumn.cellRenderer = 'listExport';
					}else if(this.report.baseModule == 'payment' && (
							(column.type == 'payment' && column.value == 'payment_services') ||
							column.type == 'spouse_registration' ||
							column.type == 'spouse_registration_custom_form' ||
							column.type == 'workshop' ||
							column.type == 'workshop_custom_form' ||
							column.type == 'merchandise' ||
							column.type == 'merchandise_custom_form' ||
							column.type == 'tour' ||
							column.type == 'tour_custom_form' ||
							column.type == 'hotel' ||
							column.type == 'hotel_custom_form' 
						)
					){
						tempColumn.cellRenderer = 'listExport';
					}
					columnDefs.push(
						tempColumn	
					);
				});
				switch(this.report.baseModule){
					case 'registration': 
						rowData = rowData.concat(this.addRegistrationModuleData());
					break;
					case 'spouse_registration':
						rowData = rowData.concat(this.addSpouseModuleData());
					break;
					case 'workshop':
						rowData = rowData.concat(this.addWorkshopModuleData());
					break;	
					case 'merchandise':
						rowData = rowData.concat(this.addMerchandiseModuleData());
					break;
					case 'tour':
						rowData = rowData.concat(this.addTourModuleData());
					break;
					case 'hotel':
						rowData = rowData.concat(this.addHotelModuleData());
					break;
					case 'donation':
						rowData = rowData.concat(this.addDonationModuleData());
					break;
					case 'payment':
						rowData = rowData.concat(this.addPaymentModuleData());
					break;
				}	
				this.gridOptions.api.setRowData(rowData);
				this.gridOptions.api.setColumnDefs(columnDefs);
				this.loading = false;
			});
		},
		removeReportItem(index){
			this.report.columnList.splice(index, 1);
			this.setTable();
		},
		setTableBase(module){
			Object.keys(this.baseModules).map(function(baseModule, index) {
				if(baseModule != module){
					this.baseModules[baseModule] = false;
				}
			}.bind(this));
			this.baseModules[module] = true;
			this.resetTable();
		},
		resetTable(){
			this.gridOptions.api.setRowData([]);
			this.gridOptions.api.setColumnDefs([]);
			this.report.columnList = [];
		},
		askSure(module){
			var q = confirm("Are you sure? Table will be reseted!");
			if (q) {
				this.setTableBase(module);	
			}
		},
		addRegistrationModuleData(){
			let rowData = [];
			for (var i = 0; i <this.registrationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'registration':
							if(this.report.columnList[j].value == 'fullname'){
								tempRow[this.report.columnList[j].value] = this.registrationList[i]['firstname'] + ' ' + this.registrationList[i]['lastname'];
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[i][this.report.columnList[j].value];
							}
							break;
						case 'participant_custom_form':
							tempRow[this.report.columnList[j].value] = this.registrationList[i].custom_form[this.report.columnList[j].value];
							break;
						case 'registration_type_custom_form':
							if(typeof this.registrationList[i].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[i].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'spouse_registration':
							let spouseRegistrationList = [];
							for (var k = this.spouseRegistrationList.length - 1; k >= 0; k--) {
								if(this.spouseRegistrationList[k].registration_id == this.registrationList[i].id){
									if(this.report.columnList[j].value == 'spouse_fullname'){
										spouseRegistrationList.push(this.spouseRegistrationList[k]['spouse_firstname'] + ' ' + this.spouseRegistrationList[k]['spouse_lastname']);
									}else{
										spouseRegistrationList.push(this.spouseRegistrationList[k][this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(spouseRegistrationList);
							break;
						case 'spouse_registration_custom_form':
							let spouseRegistrationCustomFormList = [];
							for (var k = this.spouseRegistrationList.length - 1; k >= 0; k--) {
								if(this.spouseRegistrationList[k].registration_id == this.registrationList[i].id){
									if(typeof this.spouseRegistrationList[k].spouse_custom_form[this.report.columnList[j].value] == 'undefined'){
										spouseRegistrationCustomFormList.push('-');
									}else{
										spouseRegistrationCustomFormList.push(this.spouseRegistrationList[k].spouse_custom_form[this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(spouseRegistrationCustomFormList);
							break;
						case 'workshop':
							let workshopReservationList = [];
							for (var k = this.workshopReservationList.length - 1; k >= 0; k--) {
								if(this.workshopReservationList[k].registration_id == this.registrationList[i].id){
									workshopReservationList.push(this.workshopReservationList[k][this.report.columnList[j].value]);
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(workshopReservationList);
							break;
						case 'workshop_custom_form':
							let workshopReservationCustomFormList = [];
							for (var k = this.workshopReservationList.length - 1; k >= 0; k--) {
								if(this.workshopReservationList[k].registration_id == this.registrationList[i].id){
									if(typeof this.workshopReservationList[k].workshop_custom_form[this.report.columnList[j].value] == 'undefined'){
										workshopReservationCustomFormList.push('-');
									}else{
										workshopReservationCustomFormList.push(this.workshopReservationList[k].workshop_custom_form[this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(workshopReservationCustomFormList);
							break;
						case 'merchandise':
							let merchandiseList = [];
							for (var k = this.merchandiseList.length - 1; k >= 0; k--) {
								if(this.merchandiseList[k].registration_id == this.registrationList[i].id){
									merchandiseList.push(this.merchandiseList[k][this.report.columnList[j].value]);
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(merchandiseList);
							break;

						case 'merchandise_custom_form':
							let merchandiseCustomFormList = [];
							for (var k = this.merchandiseList.length - 1; k >= 0; k--) {
								if(this.merchandiseList[k].registration_id == this.registrationList[i].id){
									if(typeof this.merchandiseList[k].merchandise_custom_form[this.report.columnList[j].value] == 'undefined'){
										merchandiseCustomFormList.push('-');
									}else{
										merchandiseCustomFormList.push(this.merchandiseList[k].merchandise_custom_form[this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(merchandiseCustomFormList);
							break;
						case 'tour':
							let tourReservationList = [];
							for (var k = this.tourReservationList.length - 1; k >= 0; k--) {
								if(this.tourReservationList[k].registration_id == this.registrationList[i].id){
									tourReservationList.push(this.tourReservationList[k][this.report.columnList[j].value]);
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(tourReservationList);
							break;

						case 'tour_custom_form':
							let tourCustomFormList = [];
							for (var k = this.tourReservationList.length - 1; k >= 0; k--) {
								if(this.tourReservationList[k].registration_id == this.registrationList[i].id){
									if(typeof this.tourReservationList[k].tour_custom_form[this.report.columnList[j].value] == 'undefined'){
										tourCustomFormList.push('-');
									}else{
										tourCustomFormList.push(this.tourReservationList[k].tour_custom_form[this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(tourCustomFormList);
							break;
						case 'hotel':
							let hotelReservationList = [];
							for (var k = this.hotelReservationList.length - 1; k >= 0; k--) {
								if(this.hotelReservationList[k].registration_id == this.registrationList[i].id){
									hotelReservationList.push(this.hotelReservationList[k][this.report.columnList[j].value]);
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(hotelReservationList);
							break;
						case 'hotel_custom_form':
							let hotelCustomFormList = [];
							for (var k = this.hotelReservationList.length - 1; k >= 0; k--) {
								if(this.hotelReservationList[k].registration_id == this.registrationList[i].id){
									if(typeof this.hotelReservationList[k].hotel_custom_form[this.report.columnList[j].value] == 'undefined'){
										hotelCustomFormList.push('-');
									}else{
										hotelCustomFormList.push(this.hotelReservationList[k].hotel_custom_form[this.report.columnList[j].value]);
									}
								}
							}
							tempRow[this.report.columnList[j].value] = JSON.stringify(hotelCustomFormList);
							break;
						case 'donation':
							let donationIndex = this.donationList.findIndex( donation => this.registrationList[i].id == donation.registration_id );
							if(donationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.donationList[donationIndex][this.report.columnList[j].value];	
							}else{
								tempRow[this.report.columnList[j].value] = null;
							}
							break;
						case 'payment':
							if(this.report.columnList[j].value == 'payment_services'){
								var paymentValue = [];
							}else{
								var paymentValue = null;
							}
							for (var k = 0; k < this.paymentList.length; k++) {
								if(this.paymentList[k].registration_id == this.registrationList[i].id){
									if(this.report.columnList[j].value == 'payment_services'){
										var serviceList = this.paymentServiceList(k);
										paymentValue = paymentValue.concat(serviceList);
									}
								}
							}
							if(this.report.columnList[j].value == 'payment_services'){
								tempRow[this.report.columnList[j].value] = JSON.stringify(paymentValue);
							}else{
								tempRow[this.report.columnList[j].value] = paymentValue;
							}
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addSpouseModuleData(){
			let rowData = [];
			for (var i = 0; i <this.spouseRegistrationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					tempRow[this.report.columnList[j].value] = null;
					switch(this.report.columnList[j].type){
						case 'spouse_registration':
							if(this.report.columnList[j].value == 'spouse_fullname'){
								tempRow[this.report.columnList[j].value] = this.spouseRegistrationList[i]['spouse_firstname'] + ' ' + this.spouseRegistrationList[i]['spouse_lastname'];
							}else{
								tempRow[this.report.columnList[j].value] = this.spouseRegistrationList[i][this.report.columnList[j].value];
							}
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.spouseRegistrationList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.spouseRegistrationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.spouseRegistrationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'spouse_registration_custom_form':							
							tempRow[this.report.columnList[j].value] = this.spouseRegistrationList[i].spouse_custom_form[this.report.columnList[j].value];
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addWorkshopModuleData(){
			let rowData = [];
			for (var i = 0; i <this.workshopReservationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					tempRow[this.report.columnList[j].value] = null;
					switch(this.report.columnList[j].type){
						case 'workshop':
							tempRow[this.report.columnList[j].value] = this.workshopReservationList[i][this.report.columnList[j].value];
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.workshopReservationList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.workshopReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.workshopReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'workshop_custom_form':							
							tempRow[this.report.columnList[j].value] = this.workshopReservationList[i].workshop_custom_form[this.report.columnList[j].value];
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addMerchandiseModuleData(){
			let rowData = [];
			for (var i = 0; i <this.merchandiseList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'merchandise':
							tempRow[this.report.columnList[j].value] = this.merchandiseList[i][this.report.columnList[j].value];
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.merchandiseList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.merchandiseList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.merchandiseList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'merchandise_custom_form':							
							tempRow[this.report.columnList[j].value] = this.merchandiseList[i].merchandise_custom_form[this.report.columnList[j].value];
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addTourModuleData(){
			let rowData = [];
			for (var i = 0; i <this.tourReservationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'tour':
							tempRow[this.report.columnList[j].value] = this.tourReservationList[i][this.report.columnList[j].value];
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.tourReservationList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.tourReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.tourReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'tour_custom_form':							
							tempRow[this.report.columnList[j].value] = this.tourReservationList[i].tour_custom_form[this.report.columnList[j].value];
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addHotelModuleData(){
			let rowData = [];
			for (var i = 0; i <this.hotelReservationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'hotel':
							tempRow[this.report.columnList[j].value] = this.hotelReservationList[i][this.report.columnList[j].value];
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.hotelReservationList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.hotelReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.hotelReservationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'hotel_custom_form':							
							tempRow[this.report.columnList[j].value] = this.hotelReservationList[i].hotel_custom_form[this.report.columnList[j].value];
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addDonationModuleData(){
			let rowData = [];
			for (var i = 0; i <this.donationList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'donation':
							tempRow[this.report.columnList[j].value] = this.donationList[i][this.report.columnList[j].value];
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.donationList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.donationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.donationList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		addPaymentModuleData(){
			let rowData = [];
			for (var i = 0; i <this.paymentList.length; i++) {
				let tempRow = {};
				for (var j = 0; j < this.report.columnList.length; j++) {
					switch(this.report.columnList[j].type){
						case 'payment':
							if(this.report.columnList[j].value == 'payment_services'){
								var serviceList = this.paymentServiceList(i);
								tempRow[this.report.columnList[j].value] = JSON.stringify(serviceList);
							}else{
								tempRow[this.report.columnList[j].value] = this.paymentList[i][this.report.columnList[j].value];	
							}
							break;
						case 'registration':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.paymentList[i].registration_id);
							if(registrationIndex != -1){
								if(this.report.columnList[j].value == 'fullname'){
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex]['firstname'] + ' ' + this.registrationList[registrationIndex]['lastname'];
								}else{
									tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex][this.report.columnList[j].value];
								}
							}
							break;
						case 'participant_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.paymentList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							break;
						case 'registration_type_custom_form':
							var registrationIndex = this.registrationList.findIndex(registration => registration.id == this.paymentList[i].registration_id);
							if(registrationIndex != -1){
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].custom_form[this.report.columnList[j].value];
							}
							if(typeof this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value] == 'undefined'){
								tempRow[this.report.columnList[j].value] = 'n/a';
							}else{
								tempRow[this.report.columnList[j].value] = this.registrationList[registrationIndex].registration_type_custom_form[this.report.columnList[j].value];
							}
							break;
						case 'spouse_registration':
							var spouseRegistrationList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'spouse'){
									var spouse = this.spouseRegistrationList.find(spouse => spouse.id == paymentService.id);
									if(spouse){
										if(this.report.columnList[j].value == 'spouse_fullname'){
											spouseRegistrationList.push(spouse['spouse_firstname'] + ' ' + spouse['spouse_lastname']);
										}else{
											spouseRegistrationList.push(spouse[this.report.columnList[j].value]);
										}
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(spouseRegistrationList);
							break;
						case 'spouse_registration_custom_form':
							var spouseRegistrationCustomFormList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'spouse'){
									var spouse = this.spouseRegistrationList.find(spouse => spouse.id == paymentService.id);
									if(spouse){
										spouseRegistrationCustomFormList.push(spouse.spouse_custom_form[this.report.columnList[j].value]);
									}else{
										spouseRegistrationCustomFormList.push('-');
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(spouseRegistrationCustomFormList);
							break;
						case 'workshop':
							var workshopReservationList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'workshop'){
									var workshop = this.workshopReservationList.find(workshop => workshop.id == paymentService.id);
									if(workshop){
										workshopReservationList.push(workshop[this.report.columnList[j].value]);
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(workshopReservationList);
							break;
						case 'workshop_custom_form':
							var workshopCustomFormList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'workshop'){
									var workshop = this.workshopReservationList.find(workshop => workshop.id == paymentService.id);
									if(workshop){
										workshopCustomFormList.push(workshop.workshop_custom_form[this.report.columnList[j].value]);
									}else{
										workshopCustomFormList.push('-');
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(workshopCustomFormList);
							break;
						case 'merchandise':
							var merchandiseList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'merchandise'){
									var merchandise = this.merchandiseList.find(merchandise => merchandise.id == paymentService.id);
									if(merchandise){
										merchandiseList.push(merchandise[this.report.columnList[j].value]);
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(merchandiseList);
							break;
						case 'merchandise_custom_form':
							var merchandiseCustomFormList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'merchandise'){
									var merchandise = this.merchandiseList.find(merchandise => merchandise.id == paymentService.id);
									if(merchandise){
										merchandiseCustomFormList.push(merchandise.merchandise_custom_form[this.report.columnList[j].value]);
									}else{
										merchandiseCustomFormList.push('-');
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(merchandiseCustomFormList);
							break;
						case 'tour':
							var tourList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'tour'){
									var tour = this.tourReservationList.find(tour => tour.id == paymentService.id);
									if(tour){
										tourList.push(tour[this.report.columnList[j].value]);
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(tourList);
							break;
						case 'tour_custom_form':
							var tourCustomFormList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'tour'){
									var tour = this.tourReservationList.find(tour => tour.id == paymentService.id);
									if(tour){
										tourCustomFormList.push(tour.tour_custom_form[this.report.columnList[j].value]);
									}else{
										tourCustomFormList.push('-');
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(tourCustomFormList);
							break;
						case 'hotel':
							var hotelList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'hotel'){
									var hotel = this.hotelReservationList.find(hotel => hotel.id == paymentService.id);
									if(hotel){
										hotelList.push(hotel[this.report.columnList[j].value]);
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(hotelList);
							break;
						case 'hotel_custom_form':
							var hotelCustomFormList = [];
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'hotel'){
									var hotel = this.hotelReservationList.find(hotel => hotel.id == paymentService.id);
									if(hotel){
										hotelCustomFormList.push(hotel.hotel_custom_form[this.report.columnList[j].value]);
									}else{
										hotelCustomFormList.push('-');
									}
								}
							});
							tempRow[this.report.columnList[j].value] = JSON.stringify(hotelCustomFormList);
							break;
						case 'donation':
							var donation = null;
							this.paymentList[i].payment_services.filter(paymentService => {
								if(paymentService.module_type == 'donation'){
									var tempDonation = this.donationList.find(donation => donation.id == paymentService.id);
									if(tempDonation){
										donation = tempDonation[this.report.columnList[j].value];
									}
								}
							});
							tempRow[this.report.columnList[j].value] = donation;
							break;

					}
				}
				rowData.push(tempRow);
			}
			return rowData;
		},
		paymentServiceList(paymentIndex){
			var serviceList = [];
			for (var k = 0; k < this.paymentList[paymentIndex].payment_services.length; k++) {
				switch(this.paymentList[paymentIndex].payment_services[k].module_type){
					case 'spouse':
						var spouseIndex = this.spouseRegistrationList.findIndex(spouse => spouse.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(spouseIndex != -1){
							serviceList.push(this.paymentSpouseColumnStringConvert(this.spouseRegistrationList[spouseIndex]));	
						}
						break;
					case 'workshop':
						var workshopIndex = this.workshopReservationList.findIndex(workshop => workshop.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(workshopIndex != -1){
							serviceList.push(this.paymentWorkshopColumnStringConvert(this.workshopReservationList[workshopIndex]));	
						}
						break;
					case 'merchandise':
						var merchandiseIndex = this.merchandiseList.findIndex(merchandise => merchandise.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(merchandiseIndex != -1){
							serviceList.push(this.paymentMerchandiseColumnStringConvert(this.merchandiseList[merchandiseIndex]));	
						}
						break;
					case 'tour':
						var tourIndex = this.tourReservationList.findIndex(tour => tour.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(tourIndex != -1){
							serviceList.push(this.paymentTourColumnStringConvert(this.tourReservationList[tourIndex]));	
						}
						break;
					case 'hotel':
						var hotelIndex = this.hotelReservationList.findIndex(hotel => hotel.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(hotelIndex != -1){
							serviceList.push(this.paymentHotelColumnStringConvert(this.hotelReservationList[hotelIndex]));	
						}
						break;
					case 'donation':
						var donationIndex = this.donationList.findIndex(donation => donation.id == this.paymentList[paymentIndex].payment_services[k].id);
						if(donationIndex != -1){
							serviceList.push(this.paymentDonationColumnStringConvert(this.donationList[donationIndex]));	
						}
						break;
				}
			}
			return serviceList;
		},
		paymentSpouseColumnStringConvert(spouse){
			return spouse.spouse_firstname + ' ' + spouse.spouse_lastname + ' ' + spouse.spouse_payment_amount + '(spouse)';
		},
		paymentWorkshopColumnStringConvert(workshop){
			return workshop.workshop_title + ' ' + workshop.workshop_payment_amount + '(workshop)';
		},
		paymentMerchandiseColumnStringConvert(merchandise){
			return merchandise.merchandise_title + ' ' + merchandise.merchandise_payment_amount + '(merchandise)';
		},
		paymentTourColumnStringConvert(tour){
			return tour.tour_title + ' ' + tour.tour_payment_amount + '(tour)';
		},
		paymentHotelColumnStringConvert(hotel){
			return hotel.hotel_title + ' ' + hotel.hotel_payment_amount + '(hotel)';
		},
		paymentDonationColumnStringConvert(donation){
			return donation.donation_payment_amount + '(donation)';
		}
	},
	components: {
		draggable,
		AgGridVue,
		'customformfields': CustomFormFields
	},
	watch: {
			baseModules: {
				handler: function (val, oldVal) {
					if(this.baseModules.registration){
						this.report.baseModule = 'registration';
					}else if(this.baseModules.spouse_registration){
						this.report.baseModule = 'spouse_registration';
					}else if(this.baseModules.workshop){
						this.report.baseModule = 'workshop';
					}else if(this.baseModules.merchandise){
						this.report.baseModule = 'merchandise';
					}else if(this.baseModules.tour){
						this.report.baseModule = 'tour';
					}else if(this.baseModules.hotel){
						this.report.baseModule = 'hotel';
					}else if(this.baseModules.donation){
						this.report.baseModule = 'donation';
					}else if(this.baseModules.payment){
						this.report.baseModule = 'payment';
					}
				},
      			deep: true
			}
		},
}
</script>