<template>
    <div style="width: 100%;">
        <button style="margin-bottom: 10px" @click="onClicked()">Filter Instance Method</button>
        <ag-grid-vue style="width: 100%; height: 350px;" class="ag-theme-fresh"
                     :gridOptions="gridOptions">
        </ag-grid-vue>
        <ag-grid-vue style="width: 100%; height: 350px;" class="ag-theme-fresh"
                     :gridOptions="bottomGridOptions">
        </ag-grid-vue>
    </div>
</template>

<script>
    import Vue from "vue";
    import {AgGridVue} from "ag-grid-vue";
    import PartialMatchFilterComponent from '../assets/PartialMatchFilterComponent'
    import CustomFilter from '../assets/customFilter'
    import customfilter2 from '../assets/customfilter2'
    import 'lodash';
    import rowData from '../assets/data.json';

    export default {
        data() {
            return {
                gridOptions: null,
                bottomGridOptions: null,
                text: null
            }
        },
        components: {
            'ag-grid-vue': AgGridVue
        },
        methods: {
            createColumnDefs() {
                return [
                    {
                        headerName: "Name", 
                        field: "index", 
                        width: 450,
                        filter: "customNumberFilter"

                    },
                    {
                        headerName: "Name", 
                        field: "balance", 
                        width: 450,
                        filterFramework: customfilter2,
                        filterParams: {
                            filterChangedCallback: function(){
                              console.log('filterChangedCallback');
                              console.log(this.gridOptions.api.getFilterModel());
                            }.bind(this)
                        }
                    }
                ];
            }
        },
        beforeMount() {
            this.gridOptions = {
                enableFilter: true,
                //floatingFilter: true,
                rowData: [],
                columnDefs: [],
                cellValueChanged: function(params) {
                    console.log(params);
                    console.log('**');
                },

            };
            this.bottomGridOptions = {
                enableFilter: true,
                rowData: [
                    {
                        index: 'Total',
                        balance: '15 - 61',
                    }
                ],
                columnDefs: this.createColumnDefs(),
                headerHeight: 0,
                defaultColDef: {
                    menuTabs: ['filterMenuTab', 'columnsMenuTab', 'generalMenuTab']
                },
                alignedGrids: []
            };
        },
        mounted(){
            this.gridOptions.api.setRowData(rowData);
            this.gridOptions.api.setColumnDefs(this.createColumnDefs());
          //  this.gridOptions.api.getFilterInstance("balance").getFrameworkComponentInstance().getList(_.map(rowData, 'balance'));
           // this.gridOptions.alignedGrids.push(this.bottomGridOptions);
            //this.bottomGridOptions.alignedGrids.push(this.gridOptions);
        }
    }
</script>

<style>
</style>