<template>
    <div style="width: 100%;">
        <button style="margin-bottom: 10px" @click="onClicked()">Filter Instance Method</button>
        <ag-grid-vue style="width: 100%; height: 350px;" class="ag-theme-fresh"
                     :gridOptions="gridOptions">
        </ag-grid-vue>
        <ag-grid-vue style="width: 100%; height: 350px;" class="ag-theme-fresh"
                     :gridOptions="bottomGridOptions">
        </ag-grid-vue>
    </div>
</template>

<script>
    import Vue from "vue";
    import {AgGridVue} from "ag-grid-vue";
    import PartialMatchFilterComponent from '../assets/PartialMatchFilterComponent'
    import CustomFilter from '../assets/CustomFilter'
    import 'lodash';
    import rowData from '../assets/data.json';
    console.log(rowData.length);
    export default {
        data() {
            return {
                gridOptions: null,
                bottomGridOptions: null,
                text: null
            }
        },
        components: {
            'ag-grid-vue': AgGridVue
        },
        methods: {
            createColumnDefs() {
                return [
                    {
                        headerName: "Name", 
                        field: "index", 
                        width: 450,
                        filterFramework: PartialMatchFilterComponent

                    },
                    {
                        headerName: "Name", 
                        field: "balance", 
                        width: 450,
                        filterFramework: PartialMatchFilterComponent,
                        suppressMenu: true

                    }
                ];
            }
        },
        beforeMount() {
            this.gridOptions = {
                enableFilter: true,
                rowData: rowData,
                columnDefs: this.createColumnDefs(),
                defaultColDef: {
                    menuTabs: ['filterMenuTab', 'columnsMenuTab', 'generalMenuTab']
                },
                alignedGrids: []
            };
            this.bottomGridOptions = {
                enableFilter: true,
                rowData: [
                    {
                        index: 'Total',
                        balance: '15 - 61',
                    }
                ],
                columnDefs: this.createColumnDefs(),
                headerHeight: 0,
                defaultColDef: {
                    menuTabs: ['filterMenuTab', 'columnsMenuTab', 'generalMenuTab']
                },
                alignedGrids: []
            };
        },
        mounted(){
            this.gridOptions.api.getFilterInstance("index").getFrameworkComponentInstance().getList(_.map(rowData, 'index'));
            this.gridOptions.alignedGrids.push(this.bottomGridOptions);
            //this.bottomGridOptions.alignedGrids.push(this.gridOptions);
        }
    }
</script>

<style>
</style>