<template>
	<div id="app">
		<!-- <div v-for="(item, index) in itemList">
			<fieldinput v-model="itemList[index].value" v-validate data-vv-rules="required" data-vv-name="name" type="text"></fieldinput>
		</div> -->
		<fileinput 
			v-model="file"
			name="file" 
			:accept="{ 'image': true, 'text': false, 'spreadsheet': false, 'presentation': false, 'compressed': false }"
			v-validate
			data-vv-rules="required|ext:jpeg,jpg,gif,png,svg,doc,docx,odt,pdf"
		>
		</fileinput>
		<!-- <input type="file" name="file" v-validate data-vv-rules="required|ext:jpeg,jpg,gif,png,svg,doc,docx,odt,pdf" :accept="accepted_types({ 'image': true, 'text': false, 'spreadsheet': false, 'presentation': false, 'compressed': false })"> -->
		{{ errors }}
	</div>
</template>

<script>
import fieldinput from './components/FieldInput'
import fileinput from './components/fileinput'
export default {
	name: 'App',
	data () {
		return {
			file: null,
			itemList: [
				{
					name: 'birinci name',
					value: 'birinci value',
				},
				{
					name: 'ikinci name',
					value: 'ikinci value',
				}
			]
		}
	},
	components: {
		fieldinput,
		fileinput
	},
	methods: {
	  accepted_types(accept) {
            let accepted = [];
            if (accept.image) {
                accepted = accepted.concat(['.jpeg', '.jpg', '.gif', '.png', '.svg']);
            }
            if (accept.text) {
                accepted = accepted.concat(['.doc', '.docx', '.odt', '.pdf']);
            }
            if (accept.spreadsheet) {
                accepted = accepted.concat(['.xls', '.xlsx', '.ods']);
            }
            if (accept.presentation) {
                accepted = accepted.concat(['.ppt', '.pptx', '.odp']);
            }
            if (accept.compressed) {
                accepted = accepted.concat(['.zip', '.7zip', '.rar']);
            }
            if (!accept.image && !accept.text && !accept.spreadsheet && !accept.presentation && !accept.compressed) {
                accepted = accepted.concat(['.jpeg', '.jpg', '.gif', '.png', '.svg', '.doc', '.docx', '.odt', '.pdf', '.xls', '.xlsx', '.ods', '.ppt', '.pptx', '.odp', '.zip', '.7zip', '.rar']);
            }
            return accepted;
        }
	}
}
</script>