<template>
  <div>
    <input type="text" inputmode="numeric" v-model="val" 
      v-on:input="val = SimpleMaskMoney.format(val)" v-on:keyup="send($event)">
  </div>
</template>

<script>
import { SimpleMaskMoney } from '../lib/simple-mask-money.js';

export default {
  data() {
    // declare mask in your local
    return {
      SimpleMaskMoney: SimpleMaskMoney,
      val: '0,00'
    }
  },
  mounted() {
    // configuration   
    SimpleMaskMoney.args = {
      preffix: '',
      suffix: '',
      fixed: true,
      fractionDigits: 2,
      decimalSeparator: ',',
      thousandsSeparator: '.',
      autoCompleteDecimal: false
    };
  },
  methods: {
    // Your send method 
    send(e) {
        if (e.key !== "Enter") return;
      // This method return value of your input in format number to save in your database
      SimpleMaskMoney.formatToNumber(this.val);
    }
  }
}
</script>