<template>
	<div>
		<input type="text" id="money"  autocomplete="off" @input="stateChanged()" v-model="money"/>
	</div>
</template>

<script>
	import { MoneyInput } from '../lib/money-input.js';
	console.log(MoneyInput);
	import _ from 'lodash';
	export default {
		name: 'currencyinput',
		data () {
			return {
				money: null
			}
		},
		props: {
			value : {
				type: null,
				required: true
			},
			nullable : {
				type: Boolean,
				required: false,
				default: false
			}
		},
		methods: {
			stateChanged(){
				this.money = accounting.formatMoney(this.money);
				this.$emit('input', this.money);
			},
		  	// stateChanged: _.debounce(function (index) {
		    	
		  	// }, 1500),
		},
		created() {
			this.money = this.value;
			//var moneyInput = new MoneyInput('#money');
		}
	}
</script>