<template>
    <div>
        <input type="text" autocomplete="off" @input="state_changed()" v-money="money_format" v-model.lazy="money" />
        --{{ money  }}
    </div>
</template>

<script>
    import {VMoney} from 'v-money'
    import _ from 'lodash';
    export default {
        name: 'currencyinput',
        data () {
            return {
                money: 0,
                money_format: {
                    decimal: ',',
                    thousands: '.',
                    prefix: '',
                    suffix: '',
                    precision: 2,
                    masked: true
                },
                firstChange: false
            }
        },
        props: {
            value : {
                type: null,
                required: true
            },
            nullable : {
                type: Boolean,
                required: false,
                default: false
            }
        },
        directives: { money: VMoney },
        methods: {
            on_button(action) {
                if (action == "increase") {
                    this.money = this.convert_currency(parseFloat(this.money) + this.step);
                } else {
                    this.money = this.convert_currency(parseFloat(this.money) - this.step);
                }
            },
            state_changed: _.debounce(function () {
               console.log(this.emitCount);
               if(this.firstChange){
                    this.check_max_min();
                    this.$emit('input', this.money);
               }else{
                    this.firstChange = true;
               }
            
                
            }, 1),
            check_max_min() {
                if (parseFloat(this.money) >= this.max && typeof this.max == 'number') {
                    this.money = this.convert_currency(this.max);
                }
                if (parseFloat(this.money) <= this.min && typeof this.max == 'number') {
                    this.money = this.convert_currency(this.min);
                }
            },
            convert_currency(val){
                val = parseFloat(val).toFixed(2);
                return val;
            },
            set_money_format(){
                let format = this.format;
                if(!format){
                    format = "#,###.##";
                }
                switch(format){
                    case '#,###.###':
                        this.money_format = {
                            decimal: '.',
                            thousands: ',',
                            prefix: '',
                            suffix: '',
                            precision: 3,
                            masked: false
                        }
                        break;   
                    case '#.###,##':
                        this.money_format = {
                            decimal: ',',
                            thousands: '.',
                            prefix: '',
                            suffix: '',
                            precision: 2,
                            masked: false
                        }
                        break;   
                    case '#.###,###':
                        this.money_format = {
                            decimal: ',',
                            thousands: '.',
                            prefix: '',
                            suffix: '',
                            precision: 3,
                            masked: false
                        }
                        break;  
                    case '# ###.##':
                        this.money_format = {
                            decimal: '.',
                            thousands: ' ',
                            prefix: '',
                            suffix: '',
                            precision: 2,
                            masked: false
                        }
                        break; 
                    case '# ###,##':
                        this.money_format = {
                            decimal: ',',
                            thousands: ' ',
                            prefix: '',
                            suffix: '',
                            precision: 2,
                            masked: false
                        }
                        break;  
                    case "#'###.##":
                        this.money_format = {
                            decimal: '.',
                            thousands: "'",
                            prefix: '',
                            suffix: '',
                            precision: 2,
                            masked: false
                        }
                        break;  
                    case "#.###":
                        this.money_format = {
                            decimal: '.',
                            thousands: "",
                            prefix: '',
                            suffix: '',
                            precision: 3,
                            masked: false
                        }
                        break;
                    case "#,###":
                        this.money_format = {
                            decimal: ',',
                            thousands: "",
                            prefix: '',
                            suffix: '',
                            precision: 3,
                            masked: false
                        }
                        break; 
                    case "# ###":
                        this.money_format = {
                            decimal: ' ',
                            thousands: "",
                            prefix: '',
                            suffix: '',
                            precision: 3,
                            masked: false
                        }
                        break; 
                    default:
                         this.money_format = {
                            decimal: '.',
                            thousands: ',',
                            prefix: '',
                            suffix: '',
                            precision: 2,
                            masked: false
                        }
                        break; 
                }
            }
        },
        created() {
            if(!this.nullable){
            this.set_money_format();
                this.money = this.convert_currency(this.value);
            }
        }
    }
</script>