<template>
    <div >
        <input v-model="price" v-money="money" @input="state_changed()"/> {{price}}
    </div>
</template>

<script>
    import {VMoney} from 'v-money'
    import _ from 'lodash'
    var numeral = require('numeral');
    export default {
        name: 'currencyinput',
        data () {
            return {
                elemId: '',
                price: null,
                tempValue: null,
                cleave: null,
                el_input: null,
                money: {
                  decimal: ',',
                  thousands: '.',
                  prefix: '',
                  suffix: '',
                  precision: 2,
                  masked: false
                }
            }
        },
        props: {
            id : {
                type: Number,
                required: false,
                default: 0
            },
             min : {
                type: null,
                required: false,
                default: 0
            },
            max : {
                type: null,
                required: false,
                default: null
            },
            step : {
                type: null,
                required: false,
                default: 1
            },
            currency : {
                type: String,
                required: false,
                default: "USD"
            },
            value : {
                type: null,
                required: true
            },
            nullable : {
                type: Boolean,
                required: false,
                default: false
            },
            error_content : {
                type: String,
                required: false,
                default: ''
            },
            currencyFormat : {
                type: String,
                required: false,
                default: '#,###.##'
            }
        },
        mounted(){
            this.el_input = this.$el.querySelectorAll('input')[0];
            switch(this.currencyFormat){
                case '#,###.##':
                   
                    break;
                default:
                    break;
            }
        },
        watch: {
        },
        directives: {money: VMoney},
        methods: {
            // state_changed: _.debounce(function (val){
            //     val = numeral(val).format('0,0.00');
            //     this.$emit('input', this.price);
            // }, 100), 
            state_changed(){
                this.$emit('input', this.price);
            }
        },
        created() {
            this.elemId     = 'currencyinput_' + this.id; 
            this.price      = this.value.toFixed(2);
            this.state_changed();
        },
        mounted(){
        }
    }
</script>

