<template>
    <div class="number_item" :data-currency="currency.toLowerCase()">
        <span class="currency" :class="currency.toLowerCase()">{{ currency }}</span>
        <input type="text" :id="elemId" autocomplete="off" :value="value" @input="state_changed($event.target.value)"/>
        <nav>
            <b class="increase" title="Increase" @click="on_button('increase')">
                <svg width="7px" height="5px" viewBox="0 0 7 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polyline fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke="#397683" stroke-width="2" id="Path-3" points="1 4 3.5 1 6 4"></polyline>
                </svg>
            </b>
            <b class="decrease" title="Decrease" @click="on_button('decrease')">
                <svg width="7px" height="5px" viewBox="0 0 7 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polyline fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke="#397683" stroke-width="2" id="Path-3" points="1 1 3.5 4 6 1"></polyline>
                </svg>
            </b>
        </nav>
    </div>
</template>

<script>
    import _ from 'lodash';
    var numeral = require('numeral');
    export default {
        name: 'currencyinput',
        data () {
            return {
                elemId: '',
                tempValue: null,
                cleave: null,
                el_input: null
            }
        },
        props: {
            id : {
                type: Number,
                required: false,
                default: 0
            },
             min : {
                type: null,
                required: false,
                default: 0
            },
            max : {
                type: null,
                required: false,
                default: null
            },
            step : {
                type: null,
                required: false,
                default: 1
            },
            currency : {
                type: String,
                required: false,
                default: "USD"
            },
            value : {
                type: null,
                required: true
            },
            nullable : {
                type: Boolean,
                required: false,
                default: false
            },
            error_content : {
                type: String,
                required: false,
                default: ''
            },
            currencyFormat : {
                type: String,
                required: false,
                default: '#,###.##'
            }
        },
        mounted(){
            this.el_input = this.$el.querySelectorAll('input')[0];
            switch(this.currencyFormat){
                case '#,###.##':
                   
                    break;
                default:
                    break;
            }
        },
        watch: {
        },
        methods: {
            state_changed: _.debounce(function (val){
                val = numeral(val).format('0,0.00');
                console.log(val);
                this.$emit('input', val);
            }, 300)
        },
        created() {
            this.elemId = 'currencyinput_' + this.id; 
        },
        mounted(){
            this.state_changed(this.value);
        }
    }
</script>

