<template>
	<div id="app">
		<ul>
			<li><router-link to="/home">Home</router-link></li>
			<li><router-link to="/profile">Profile</router-link></li>
		</ul>
		<b>{{ user.name }}</b>
		<img :src="user.avatar_url" width="100">
		<router-view/>
	</div>
</template>

<script>
export default {
	name: 'App',
	data() {
		return {

		}
	},
	computed: {
		user (){
			return this.$store.state.user
		}
	},
	created(){
		this.$store.dispatch('getUser').then(() => {});
	}
}
</script>
<style>
	.active{
		color: red;
	}
</style>
