<template>
    <div>
        <h1>Project Dashboard</h1>
        <router-link to="/project/1/setup">Setup</router-link>
        <router-link :to="{ name: 'Reporting'}">Report</router-link>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'ProjectDashboard',
}
</script>