<template>
	<div class="customForm">
		<div v-for="(item, index) in customFormFields" :key="index" >
			<draggable v-model="customFormFields" :options="{group:{ name:'report',  pull:'clone', put:false }, sort: false, filter: '.disabledItem'}" class="columnList" :class="{ disabledItem: itemIsDisabled(customFormName, item.value) }">
					<at-button>{{ item.title }}</at-button>
			</draggable>
			<customformfields v-if="item.custom_form_fields" :customFormFields="item.custom_form_fields" :customFormName="customFormName" :report="report"></customformfields>
		</div>
	</div>
</template>

<script>
import draggable from 'vuedraggable';
import report from '../mixins/report.js';
export default {
	name: 'customformfields',
	mixins:[report],
	data () {
		return {
		}
	},
	props: {
		customFormFields : {
			type: Array,
			required: true,
		},
		customFormName: {
			type: String,
			required: true
		},
		report: {
			type: Object,
			required: true
		}
	},
	components: {
		draggable
	},
	methods: {
	}
}
</script>