<template>
    <div>
        <transition>
            <div v-if="$auth.ready()">
                <router-link to="/">home</router-link>
                <router-link to="/login" v-if="!$auth.check()">Login</router-link>
                <router-link to="/profile" v-if="$auth.check()">Profile</router-link>
                <button @click="logout" v-if="$auth.check()">Logout</button>
                <router-view></router-view>
            </div> 
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               
            };
        },
        created(){
            this.$http.get('https://meetinghand-cdn.firebaseapp.com/json/user_props.json')
            .then((response) => {
                console.log(response);
            })
            .catch((error) => {
                console.log(error);
            });
        },
        methods: {
            logout() {
                this.$auth.logout({
                    makeRequest: true,
                    success() {
                        console.log('success ' + this.context);
                    },
                    error() {
                        console.log('error ' + this.context);
                    }
                });
            }
        }
    }
</script>