.wrapper{
	display: flex;
	flex-wrap: nowrap;
}
.wrapper .FieldColumn{
	width:20%;
	height: 100vh;
	overflow-y:scroll;
}
.wrapper .reportTableWrapper{
	width:80%;
}
.wrapper .FieldColumn, .wrapper .reportTableWrapper{
	margin: 1%;
	background: #f1f1f1;
	padding: 1%;
}
.reportTable{
	width: 100%;
	min-height: 70px;
	display: flex;
	flex-wrap: nowrap;
	background: #6190e8;
	margin-bottom: 10px;
}
.reportTable > div{
	width: 200px;
	text-align: center;
}
.reportTable > div > div{
	padding: 10px 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
	background: #13ce66;
	border-right:1px solid #ccc;
}
.resultTable{
	width: 100%;
	height: 500px;
}
.disabledItem > button{
	cursor: not-allowed;
    color: #D2D2D2;
    border-color: #ECECEC;
    background-color: #F7F7F7;
}
.loading{
	background: #ccc;
	width: 100%;
	height: 100vh;
	z-index:9999;
}
.customForm{
	margin-left: 10px;
}