<template>
	<div id="app">
		<vue-mce :config="config" v-model="text" />
		gorunmemesinin sebebi stilleri olmamasi
	</div>
	</template>

<script>
import './assets/tinymce/tinymce.min';
export default {
	name: 'App',
	data() {
		return {
			config: {
				
			},
			text: ''
		}
	},
}
</script>