<template>
	<div id="app">
		<multiselect 
			v-model="value"
			:options="options" 
			></multiselect>
		<pre class="language-json"><code>{{ value  }}</code></pre>
	</div>
</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
	name: 'App',
	components: { 
		Multiselect 
	},
	data () {
		return {
			value: {},
			temp_value: { name: 'Vue.js', language: 'JavaScript' },
			options: [
				'Vue.js',
				'Rails',
				'Sinatra',
				'Laravel',
				'Phoenix'
			]
		}
  	},
  	created(){
  		this.value = this.temp_value.name;
  	},
  	methods: {
		onInput ({ name }) {
			this.value = name
		}
  	}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
