<template>
  <div id="app">
    <button @click="show">ac</button>
    <button @click="hide">kapat</button>
      <div class="modal" id="testModal">
        heyy
      </div>
  </div>
</template>

<script>
import Vue from 'vue';
import HelloWorld from './components/HelloWorld'
import Custombox from  './assets/custombox.js';
export default {
  name: 'App',
  components: {
    HelloWorld
  },
  mounted(){
    console.log(this);
    new Custombox.modal({
          content: {
            target: '#testModal',
            width: '560px',
          }
        }).open();
  },
  methods: {
    show(){
      new Custombox.modal({
          content: {
            target: '#testModal',
            width: '560px',
          }
        }).open();
    },
    hide(){
      Custombox.modal.close();
    }
  }
}
</script>