<template>
    <div class="hello">
        <h1>Login</h1>
        <button @click="login">Login</button>
    </div>
</template>

<script>
export default {
    name: 'Page2',
        data () {
            return {
                context: 'login context',
                data: {
                    body: {
                        username: 'admin',
                        password: 'secret'
                    },
                    rememberMe: false,
                    fetchUser: true
                },
                error: null
            }
        },
        methods: {
             login() {
                console.log(this.$auth);
                console.log('---');
                return false;
                var redirect = this.$auth.redirect();

                this.$auth.login({
                    body: this.data.body, // Vue-resource
                    data: this.data.body, // Axios
                    rememberMe: this.data.rememberMe,
                    redirect: {name: redirect ? redirect.from.name : 'account'},
                    fetchUser: this.data.fetchUser
                })
                .then((data) => {
                    console.log('success ' + this.context);
                }, (res) => {
                    console.log('error ' + this.context);

                    this.error = res.data;
                });
            }
        }
    }
</script>