<template>
	<div>
		<template v-if="type == 'text'">
			<input type="text" @input="emitValue($event.target.value)" :value="value">
		</template>
	</div>
</template>

<script>
export default {
	name: 'FieldInput',
	data () {
		return {
		}
	},
	props: ['value', 'type'],
	methods: {
		emitValue(value){
			this.$emit('input', value);
		}
	},
	created(){

	}
}
</script>