<template>
	<div class="file_input">
		{{ value }}
		<input 
			class="visuallyhidden" 
			type="file" 
			@change="file_input_changed($event)" 
			:accept="accepted_types()"
		>
		<span @click="trigger_file_input($event.target)">Click to select file</span><a @click="reset_file_input($event.target)" class="reset">reset</a>
		<label class="empty error_label">{{ error_content }}</label>
	</div>
</template>

<script>
	export default {
		name: 'fileinput',
		data () {
			return {
				
			}
		},
		props: {
			accept : {
				type: Object,
				required: false,
				default: () => {
					return {
						image: true,
						text: true,
						spreadsheet: true,
						presentation: true,
						compressed: false
					}
				}
			},
			value : {
				type: null,
				required: true
			},
			error_content : {
				type: String,
				required: false,
				default: ''
			}
		},
		methods: {
			file_input_changed(e) {
				if (e.target.value && e.target.value != "") {
					let filename = e.target.value.replace(/^.*\\/, "");
					let extension = filename.substr( filename.lastIndexOf('.') + 1 );
					e.target.nextElementSibling.textContent = filename;
					e.target.parentNode.classList.add('chosen');
					e.target.nextElementSibling.classList.add(extension);
				}
				console.log(e.target.files);
				this.$emit('input', Array.from(e.target.files));
			},
			reset_file_input(e) {
				e.previousElementSibling.previousElementSibling.value = "";
				e.previousElementSibling.textContent = "Click to select file";
				e.previousElementSibling.className = '';
				e.parentNode.classList.remove('chosen');
				this.$emit('input', null);
			},
			trigger_file_input(e) {
				e.previousElementSibling.click();
			},
		   accepted_types() {
                let accepted = [];
                if (this.accept.image) {
                    accepted = accepted.concat(['.jpeg', '.jpg', '.gif', '.png', '.svg']);
                }
                if (this.accept.text) {
                    accepted = accepted.concat(['.doc', '.docx', '.odt', '.pdf']);
                }
                if (this.accept.spreadsheet) {
                    accepted = accepted.concat(['.xls', '.xlsx', '.ods']);
                }
                if (this.accept.presentation) {
                    accepted = accepted.concat(['.ppt', '.pptx', '.odp']);
                }
                if (this.accept.compressed) {
                    accepted = accepted.concat(['.zip', '.7zip', '.rar']);
                }
                if (!this.accept.image && !this.accept.text && !this.accept.spreadsheet && !this.accept.presentation && !this.accept.compressed) {
                    accepted = accepted.concat(['.jpeg', '.jpg', '.gif', '.png', '.svg', '.doc', '.docx', '.odt', '.pdf', '.xls', '.xlsx', '.ods', '.ppt', '.pptx', '.odp', '.zip', '.7zip', '.rar']);
                }
                return accepted;
            }
		},
	}
</script>