<template>
    <div>
        <h1>Report A</h1>
        <table>
        	<tr>
        		<th>A</th>
        		<th>B</th>
        	</tr>
        	<tr>
        		<td>a</td>
        		<td>b</td>
        	</tr>
        	<tr>
        		<td>c</td>
        		<td>d</td>
        	</tr>
        </table>
    </div>
</template>

<script>
export default {
    name: 'Report',
}
</script>