<template>
    <div>
        <h1>Reports</h1>
        <ul>
        	<li><router-link :to="{ name: 'Report', params: { report_id: 1 }}">Report A</router-link></li>
        	<li><router-link :to="{ name: 'Report', params: { report_id: 2 }}">Report B</router-link></li>
        	<li><router-link :to="{ name: 'Report', params: { report_id: 3 }}">Report C</router-link></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Reporting',
}
</script>