<template>
	<div>
		{{ price }}
		<currencyinput6 v-model="price" :nullable="true"></currencyinput6>
	</div>
</template>

<script>
import currencyinput6 from './components/currencyinput6'

export default {
  	name: 'App',
  	data (){
  		return {
  			price: null,
  			currencyFormatList: [
				{ format: "#,###.##", value: 1500000 },
				{ format: "#,###.###", value: 1500000 },
				{ format: "#.###,##", value: 1500000 },
				{ format: "#.###,###", value: 1500000 },
				{ format: "# ###.##", value: 1500000 },
				{ format: "# ###,##", value: 1500000 },
				{ format: "#'###.##", value: 1500000 },
				{ format: "#.###", value: 1500000 },
				{ format: "#,###", value: 1500000 },
				{ format: "# ###", value: 1500000 },
				{ format: "#,##,###.##", value: 1500000 }
			]
  		}
  	},
	components: {
		currencyinput6
	}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
