<!DOCTYPE html>
<html>
<head>
	<title>Vuex</title>
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
</head>
<body>

	<div id="app">
		
	</div>

	<script>
		
		const store = new Vuex.Store({
			state: {
				count: 0
			},
			mutations: {
				increment (state) {
					state.count++
				}
			}
		});

		const Counter = {
			template: `
				<div>
					{{ count }}
					<button @click="reduce">-</button>
				</div>
			`,
			computed: {
				count () {
					return this.$store.state.count
				}
			},
			methods: {
				reduce(){
					this.$store.state.count--;
				}
			}
		}

		const app = new Vue({
			el: '#app',
			store,
			components: { Counter },
			template: `
				<div class="app">
					<counter></counter>
					<button @click="incremet">+</button>
				</div>
			`,
			methods: {
				incremet(){
					this.$store.state.count++;
				}
			}
		});

	</script>
</body>
</html>