<template>
	<div>
		<h1>Profile</h1>
		<div class="formItem"><label>Name</label><input type="text" v-model="tempUser.name"></div>
		<div class="formItem"><label>Bio</label><input type="text" v-model="tempUser.bio"></div>
		<div class="formItem"><label>Blog</label><input type="text" v-model="tempUser.blog"></div>
		<div class="formItem"><label>Company</label><input type="text" v-model="tempUser.company"></div>
		<div class="formItem"><button @click="updateUser">Submit</button></div>
	</div>
</template>

<script>
export default {
	name: 'Profile',
	data () {
		return {
			tempUser: {

			}
		}
	},
	computed: {
		user (){
			return this.$store.state.user
		}
	},
	created(){
		if(typeof this.$store.state.user.name == 'undefined'){
			this.$store.dispatch('getUser').then(() => {
				this.tempUser = JSON.parse(JSON.stringify(this.$store.state.user));
			});
		}else{
			this.tempUser = JSON.parse(JSON.stringify(this.$store.state.user));
		}
	},
	methods: {
		updateUser(){
			this.$store.dispatch('setUser', this.tempUser);
		}
	}
}
</script>
<style>
	label{
		min-width: 100px;
		display: inline-block;
	}
	input{
		padding: 5px;
		margin: 5px;
		min-width: 200px;
	}
	.formItem{
		display: block;
	}
	button{
		margin-left: 105px;
	}
</style>