<template>
	 <div>
	 	<table1></table1>
	</div>
</template>

<script>
import table1 from './components/table1'
export default {
  name: 'App',
	data () {
		return {
		}
	},
	components: {
		'table1': table1
	}
}
</script>
