<template>
	 <div>
	 	<a @click="setData">set</a>
		<ag-grid-vue 
			style="width:100%;height:300px"
			class="ag-theme-fresh"
			:gridOptions="gridOptions">
		</ag-grid-vue>
		<a @click="printAllDisplayedRows">export_excel</a>
		<pre>
			{{ filtered_data }}
		</pre>
	</div>
</template>

<script>
import {AgGridVue} from 'ag-grid-vue';
import PartialMatchFilterComponent from './assets/PartialMatchFilterComponent'

export default {
  name: 'App',
	data () {
		return {
			gridOptions: null,
			filtered_data: []
		}
	},
	components: {
		AgGridVue
	},
	methods: {
		export_excel(){
			this.gridOptions.api.forEachNodeAfterFilterAndSort(function(node) {
				this.filtered_data.push(node.data);
			}.bind(this)).then(e => {
				console.log(e);
				console.log('---');
			})
		},
		printAllDisplayedRows() {
			var count = this.gridOptions.api.getDisplayedRowCount();
			for (var i = 0; i<count; i++) {
				var rowNode = this.gridOptions.api.getDisplayedRowAtIndex(i);
				this.filtered_data.push(rowNode.data);
				console.log(rowNode.data.name);
			}
			console.log('bitti');
		},
		setData(){
			console.log(this.gridOptions.api);
			this.gridOptions.api.getFilterInstance("name").getFrameworkComponentInstance().componentMethod("Hello World!");
		},
	},
	created(){
		this.$http.get('https://raw.githubusercontent.com/ag-grid/ag-grid-docs/master/src/olympicWinnersSmall.json').then(response => {
			this.gridOptions.api.setRowData(response.body);
			var item_list = []
			response.body.filter(athlete => {
				item_list.push(athlete.athlete)
			});
			this.$store.commit('set_filter_select_list', item_list);
		}, response => {
		});
		setTimeout(function(){
			//this.$store.commit('set_filter_select_list', [{'name': 'Michael Phelps'}, {'name': 'Alicia Coutts'}]);
		}.bind(this), 1000);
	},
	beforeMount(){
		this.gridOptions = {
			rowData: [
					{"athlete":"Michael Phelps","age":23,"country":"United States","year":2008,"date":"24/08/2008","sport":"Swimming","gold":8,"silver":0,"bronze":0,"total":8},{"athlete":"Michael Phelps","age":19,"country":"United States","year":2004,"date":"29/08/2004","sport":"Swimming","gold":6,"silver":0,"bronze":2,"total":8},{"athlete":"Michael Phelps","age":27,"country":"United States","year":2012,"date":"12/08/2012","sport":"Swimming","gold":4,"silver":2,"bronze":0,"total":6},{"athlete":"Natalie Coughlin","age":25,"country":"United States","year":2008,"date":"24/08/2008","sport":"Swimming","gold":1,"silver":2,"bronze":3,"total":6},{"athlete":"Aleksey Nemov","age":24,"country":"Russia","year":2000,"date":"01/10/2000","sport":"Gymnastics","gold":2,"silver":1,"bronze":3,"total":6},{"athlete":"Alicia Coutts","age":24,"country":"Australia","year":2012,"date":"12/08/2012","sport":"Swimming","gold":1,"silver":3,"bronze":1,"total":5},{"athlete":"Missy Franklin","age":17,"country":"United States","year":2012,"date":"12/08/2012","sport":"Swimming","gold":4,"silver":0,"bronze":1,"total":5},{"athlete":"Ryan Lochte","age":27,"country":"United States","year":2012,"date":"12/08/2012","sport":"Swimming","gold":2,"silver":2,"bronze":1,"total":5},{"athlete":"Allison Schmitt","age":22,"country":"United States","year":2012,"date":"12/08/2012","sport":"Swimming","gold":3,"silver":1,"bronze":1,"total":5},{"athlete":"Natalie Coughlin","age":21,"country":"United States","year":2004,"date":"29/08/2004","sport":"Swimming","gold":2,"silver":2,"bronze":1,"total":5}
				],
			columnDefs:[
				{
					headerName: 'Athlete',
					field: 'athlete',
					width: 150,
					filterFramework: PartialMatchFilterComponent
				 //    filterFramework: new PartialMatchFilterComponent({ 
				 //    	propsData: { 
				 //    		'list': ['sinan', 'yaman']
				 //    	}
					// }),
				},
				{
					headerName: "Age",
					field: "age",
					 width: 150,
					filter: 'agNumberColumnFilter'
				},
				{
					headerName: "Birthdate",
					field: "date",
					filter: 'agDateColumnFilter',
					filterParams: {
						comparator: function(filterLocalDateAtMidnight, cellValue) {
							var dateAsString = cellValue;
							if (dateAsString == null) return -1;
							var dateParts = dateAsString.split('.');
							var cellDate = new Date(Number(dateParts[2]), Number(dateParts[1]) - 1, Number(dateParts[0]));

							if (filterLocalDateAtMidnight.getTime() === cellDate.getTime()) {
								return 0;
							}

							if (cellDate < filterLocalDateAtMidnight) {
								return -1;
							}

							if (cellDate > filterLocalDateAtMidnight) {
								return 1;
							}
						},
						nullComparator: {
							equals: false,
							lessThan: false,
							greaterThan: false
						}
					}
				}
			],
			defaultColDef: {
				menuTabs: ['filterMenuTab']
			},
			enableFilter: true,
			enableSorting: true,
		}
	},
	mounted(){
		this.gridOptions.api.addEventListener('filterChanged', function(){
			//this.setData();
		}.bind(this));
	}
}
</script>
