<template>
	<div id="app">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
   	 	<div id="map"></div>
   	 	<pre>
			City: {{ address.city }}
			State: {{ address.state }}
			Country: {{ address.country }}
			Street Address: {{ address.streetAddress }}
			Zip Code: {{ address.zipcode }}
		</pre>
	</div>
</template>

<script>

export default {
	name: 'App',
	data () {
		return {
			addressResult: null,
			address: {
				streetAddress: null,
				city: null,
				state: null,
				zipcode: null,
				country: null,
			}
		}
	},
	mounted(){
		var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
			var places = searchBox.getPlaces();
			if (places.length == 0) {
				return;
			}

			this.findAddress(places[0].address_components);

			// Clear out the old markers.
			markers.forEach(function(marker) {
			marker.setMap(null);
			});
			markers = [];

			// For each place, get the icon, name and location.
			var bounds = new google.maps.LatLngBounds();
			places.forEach(function(place) {
				if (!place.geometry) {
				  return;
				}
				var icon = {
				  url: place.icon,
				  size: new google.maps.Size(71, 71),
				  origin: new google.maps.Point(0, 0),
				  anchor: new google.maps.Point(17, 34),
				  scaledSize: new google.maps.Size(25, 25)
				};

				// Create a marker for each place.
				markers.push(new google.maps.Marker({
					map: map,
					icon: icon,
					title: place.name,
					position: place.geometry.location
				}));

				if (place.geometry.viewport) {
				  // Only geocodes have viewport.
				  bounds.union(place.geometry.viewport);
				} else {
				  bounds.extend(place.geometry.location);
				}
			});
			map.fitBounds(bounds);
        }.bind(this));
	},
	methods: {
		findAddress(address_components){
			this.address = {
				streetAddress: null,
				city: null,
				state: null,
				zipcode: null,
				country: null,
			}
			var stateCountryList = [
				"Argentina",
				"Australia",
				"Austria",
				"Belgium",
				"Brazil",
				"Canada",
				"Comoros",
				"Ethiopia",
				"Germany",
				"India",
				"Iraq",
				"Malaysia",
				"Mexico",
				"Switzerland",
				"United States",
				"Venezuela"
			];

			for(var i = 0; i < address_components.length; i++){
				switch(address_components[i].types[0]){
					case 'route':
						this.address.streetAddress = address_components[i].long_name;
					break;
					case 'country':
						this.address.country = address_components[i].long_name
					break;
					case 'administrative_area_level_1':
						this.address.city = address_components[i].long_name;
					break;
					case 'postal_code':
						this.address.zipcode = address_components[i].long_name;
					break;
				}
			}

			if(stateCountryList.indexOf(this.address.country) != -1){
				this.address.state 	= this.address.city;
				for(var i = 0; i < address_components.length; i++){
					if (address_components[i].types[0] == 'locality'){
						this.address.city = address_components[i].long_name;
					}
				}
			}
		}
	}
}
</script>
<style>
	#pac-input{
		width: 500px;
		height: 20px;
		padding: 10px;
	}
	#map{
		width: 500px;
		height: 500px;
	}
</style>