<template>
	<div id="app">
		<gmap-autocomplete 
			@place_changed="locationChange($event)" 
			:types="['geocode']"
			class="mapInput"
		></gmap-autocomplete>
		<googlemap 
			v-model="item.location.position" 
			@formatted_address="hotel_map_center_changed(index, $event)"
			v-validate
			data-vv-validate-on="none" 
			data-vv-scope="participant_form"
			:data-vv-name="'hotel_item_location_position_' + index"
			:data-vv-rules="(item.show_map)? 'required': ''"
		></googlemap>
		<pre>
			City: {{ address.city }}
			State: {{ address.state }}
			Country: {{ address.country }}
			Street Address: {{ address.streetAddress }}
			Zip Code: {{ address.zipcode }}
		</pre>
	</div>
</template>

<script>

export default {
	name: 'App',
	data () {
		return {
			addressResult: null,
			address: {
				streetAddress: null,
				city: null,
				state: null,
				zipcode: null,
				country: null,
			}
		}
	},
	methods: {
		locationChange(place){
			this.address = {
				streetAddress: null,
				city: null,
				state: null,
				zipcode: null,
				country: null,
			}
			var address_components = place.address_components;
			var stateCountryList = [
				"Argentina",
				"Australia",
				"Austria",
				"Belgium",
				"Brazil",
				"Canada",
				"Comoros",
				"Ethiopia",
				"Germany",
				"India",
				"Iraq",
				"Malaysia",
				"Mexico",
				"Switzerland",
				"United States",
				"Venezuela"
			];

			for(var i = 0; i < address_components.length; i++){
				switch(address_components[i].types[0]){
					case 'route':
						this.address.streetAddress = address_components[i].long_name;
					break;
					case 'country':
						this.address.country = address_components[i].long_name
					break;
					case 'administrative_area_level_1':
						this.address.city = address_components[i].long_name;
					break;
					case 'postal_code':
						this.address.zipcode = address_components[i].long_name;
					break;
				}
			}

			if(stateCountryList.indexOf(this.address.country) != -1){
				this.address.state 	= this.address.city;
				for(var i = 0; i < address_components.length; i++){
					if (address_components[i].types[0] == 'locality'){
						this.address.city = address_components[i].long_name;
					}
				}
			}
		}
	}
}
</script>
<style>
	.mapInput{
		width: 500px;
		height: 20px;
		padding: 10px;
	}
</style>